<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог товаров</title>
</head>
<body>
    <h1>Каталог товаров</h1>
    <ul>
        {% for product in products %}
        <li>
            <strong>{{ product.name }}</strong> ({{ product.get_category_display }})<br>
            Описание: {{ product.description }}<br>
            Цена: {{ product.price }}
        </li>
        {% empty %}
        <li>Нет товаров</li>
        {% endfor %}
    </ul>
</body>
</html>
